<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

  <section id="content">
    <article id="l01_1" tabindex="1">
      <section tabindex="0"></section>
      <section tabindex="0"></section>
      <section tabindex="0"></section>
    </article>
    <article id="l01_2" tabindex="0"></article>
    <article id="l01_3" tabindex="0"></article>
    <article id="l01_4" tabindex="0"></article>
    <article id="l02_1" tabindex="0"></article>
    <article id="l02_2" tabindex="0"></article>
    <article id="l02_3" tabindex="0"></article>
    <article id="l02_4" tabindex="0"></article>
    <article id="l03_1" tabindex="0"></article>
    <article id="l03_2" tabindex="0"></article>
    <article id="l03_3" tabindex="0"></article>
    <article id="l03_4" tabindex="0"></article>
    <article id="l04_1" tabindex="0"></article>
    <article id="l04_2" tabindex="0"></article>
    <article id="l04_3" tabindex="0"></article>
    <article id="l04_4" tabindex="0"></article>
  </section>


  <% include ../partials/footer %>
</body>


</html>