<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

  <section id="content">
    <article id="p01_1" tabindex="1">
      <section tabindex="0" id="c01_1-1"></section>
      <section tabindex="0" id="c01_1-2"></section>
      <section tabindex="0" id="c01_1-3"></section>
    </article>
    <article id="p01_2" tabindex="0"></article>
    <article id="p01_3" tabindex="0"></article>
    <article id="p01_4" tabindex="0"></article>
    <article id="p02_1" tabindex="0"></article>
    <article id="p02_2" tabindex="0"></article>
    <article id="p02_3" tabindex="0">
      <section tabindex="0" id="c02_3-1"></section>
      <section tabindex="0" id="c02_3-2"></section>
      <section tabindex="0" id="c02_3-3"></section>
    </article>
    <article id="p02_4" tabindex="0"></article>
    <article id="p03_1" tabindex="0"></article>
    <article id="p03_2" tabindex="0"></article>
    <article id="p03_3" tabindex="0"></article>
    <article id="p03_4" tabindex="0"></article>
    <article id="p04_1" tabindex="0"></article>
    <article id="p04_2" tabindex="0"></article>
    <article id="p04_3" tabindex="0"></article>
    <article id="p04_4" tabindex="0"></article>
  </section>


  <% include ../partials/footer %>
</body>


</html>