<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>
  <ul>
    <li aria-grabbed="false" aria-dropeffect="move"><a href="#"> A
        Pale Horse Named Death</a>
      <p>Sallow Grave</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move"><a href="#">
        Mastodon</a>
      <p>Blood and Thunder</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move"><a href="#">
        Rob Zombie</a>
      <p>Dragula</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move"><a tabindex="0" href="#">
        Soil</a>
      <p>Halo</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move"><a tabindex="0" href="#">
        Trivium</a>
      <p>Beyond Oblivion</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move"><a tabindex="0" href="#">
        Gojira</a>
      <p>Stranded</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move"><a tabindex="0" href="#">
        Godsmack</a>
      <p>1000hp</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move"><a tabindex="0" href="#">
        Obituary</a>
      <p>Redneck Stomp</p>
      <i class="fa">&#xf0c9;</i>
    </li>

    <% include ../partials/footer %>
</body>


</html>