<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>
  <ul>
    <li aria-grabbed="false" aria-dropeffect="move" class="l5"><a tabindex="0" class="drag-handle" href="#"
        aria-label="drag Entry E row"> A Pale Horse Named Death</a>
      <p>Sallow Grave</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move" class="l2"><a tabindex="0" class="drag-handle" href="#"
        aria-label="drag Entry B row"> Mastodon</a>
      <p>Blood and Thunder</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move" class="l6"><a tabindex="0" class="drag-handle" href="#"
        aria-label="drag Entry F row"> Rob Zombie</a>
      <p>Dragula</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move" class="l3"><a tabindex="0" class="drag-handle" href="#"
        aria-label="drag Entry C row"> Soil</a>
      <p>Halo</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move" class="l1"><a tabindex="0" class="drag-handle" href="#"
        aria-label="drag Entry A row"> Trivium</a>
      <p>Beyond Oblivion</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move" class="l4"><a tabindex="0" class="drag-handle" href="#"
        aria-label="drag Entry D row"> Gojira</a>
      <p>Stranded</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move" class="l7"><a tabindex="0" class="drag-handle" href="#"
        aria-label="drag Entry G row"> Godsmack</a>
      <p>1000hp</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move" class="l7"><a tabindex="0" class="drag-handle" href="#"
        aria-label="drag Entry G row"> Obituary</a>
      <p>Redneck Stomp</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <!-- <li aria-grabbed="false" aria-dropeffect="move" class="l7"><a tabindex="0" class="drag-handle" href="#"
        aria-label="drag Entry G row"> Meshuggah</a>
      <p>Bleed</p>
      <i class="fa">&#xf0c9;</i>
    </li>
    <li aria-grabbed="false" aria-dropeffect="move" class="l7"><a tabindex="0" class="drag-handle" href="#"
        aria-label="drag Entry G row"> Power Trip</a>
      <p>Executioner's Tax (Swing of the Axe)</p>
      <i class="fa">&#xf0c9;</i>
    </li> -->
  </ul>

  <!-- <section>
    <h2>Taak: Sorteer de letters op volgorde</h2>
    <h3>Controls:</h3>
    <p>Rij omlaag = TAB</p>
    <p>Rij omhoog = Shift TAB</p>
    <p>Vastpakken = SPATIE</p>
    <p>Loslaten = SPATIE, ESC, ENTER</p>
    <p>Omhoog verplaatsen = <br>willekeurig character aan de bovenkant van keyboard</p>
    <p>Omlaag verplaatsen = <br>willekeurig character aan de onderkant van keyboard</p>

  </section> -->

  <% include ../partials/footer %>
</body>


</html>