body {
    margin: 0;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem;
}

article {
    background-color: red;
    min-height: 25vw;
    min-width: 2rem;
    border: 2px solid black;
    padding: 1rem;
}

article section {
    background-color: green;
    margin-top: .5rem;
}

article:focus {
    outline-color: blue;
}